@main("Get Bike", "CashInAdvance"){
<div data-ng-app="myApp">
    <div data-ng-controller="myCtrl as data">

        <div class="container">
            <table class="table table-striped">
                <tr bgcolor="#f2f2f2">
                    <th>Id</th>
                    <th>Rider Number</th>
                    <th>Rider Name</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>RequestedAt</th>
                    <th>Admin Description</th>
                    <th>Requested Status</th>
                </tr>
                <tr ng-repeat="location in data.locations">
                    <td>{{location.id}}</td>
                    <td>{{location.riderMobileNumber}}</td>
                    <td>{{location.riderName}}</td>
                    <td>{{location.riderDescription}}</td>
                    <td>{{location.amount}}</td>
                    <td>{{location.requestedAt | date:'MMM d yyyy h:mm:ss a':'IST'}}</td>
                    <td>{{location.adminDescription}}</td>
                    <td data-ng-if="(location.requestStatus == null )" width="15">Requested
                        <a href="/cashInAdvance/approvereject/{{location.id}}">Approve/Reject</a>
                    </td>
                    <td data-ng-if="(location.requestStatus != null && location.requestStatus == true)" width="15">Accepted
                        <a href="/cashInAdvance/approvereject/{{location.id}}">Edit</a>
                    </td>
                    <td data-ng-if="(location.requestStatus != null && location.requestStatus == false)" width="15">Rejected
                        <a href="/cashInAdvance/approvereject/{{location.id}}">Edit</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>
<script>
var listViewApp = angular.module('myApp', ['angularUtils.directives.dirPagination']);
listViewApp.controller('myCtrl', function ($scope, $http) {
    var vm = this;
    vm.locations = [];
    vm.pageno = 1;
    vm.total_count = 0;
    vm.itemsPerPage = 10;
    vm.getData = function(pageno){
     var url = "/viewCashInAdvanceList?";
        var httpRequest = $http({
            method : 'GET',
            url : url,
            }).success(function(data, status) {
                console.log(data);
                if(data!=null){
                vm.locations = [];
                vm.locations = data["result"];
                vm.total_count = data["size"];
            }
        }).error(function(arg) {
        console.log(arg);
        });
    };
    vm.getData(vm.pageno);
});
</script>
}