@(logInForm: Form[models.User] , listOfUsers: List[User])
@main("Get Bike" , "Change Passwords"){
<style>
    body {
    background-color: #eee;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}
.well{
background: rgb(142, 201, 249);
}
</style>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        @if(flash.containsKey("error")) {
        <div class="well">
            <div id="error-message" class="text-danger" style="font-size:200%">
                <center>@flash.get("error")</center>
            </div>
        </div>
        }
    </div>
    <form class="form-horizontal" action="@routes.LoginController.updateUserDetails()" method="POST" role="form">
        <h2>ChangePassword</h2>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">User Name</label>
            <div class="col-sm-7">
                <select id="email" name="email" class="form-control" autofocus>
                @for(user <- listOfUsers) {
                <option id="@user.getEmail()" value="@user.getEmail()">@user.getEmail()</option>
                }
                </select>
                <!--<input type="text" id="email" name="email" placeholder="Enter Email" class="form-control" autofocus>-->
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-7">
                <input type="password" id="password" name="password" placeholder="Password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="role" class="col-sm-3 control-label" aria-label="left">Role</label>
            <div class="col-sm-7">
                <select id="role" name="role" class="form-control">
                    <option value="" disabled selected>Select Role</option>
                    <option>Vendor</option>
                    <option>Admin</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
                <button type="submit" class="btn btn-primary btn-block">Update User</button>
            </div>
        </div>
    </form>
</div>
}