@(price: PricingProfile)
@import views.html.custom_views._
@main("Get Bike", "Edit Pricing Profile"){
<style>


*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 3em;
    margin-bottom: 1em;
}

</style>

<div class="container">
    <div class="well well-lg">
        <form class="form-horizontal" action="@routes.UserController.updatePricingProfile(price.id)" method="GET"
              role="form">

            <h2 >Update Pricing Profile Details</h2>
            <div class="form-group">
                <label class="col-sm-3 control-label">Id</label>
                <div class="col-sm-6">
                    <input type="text" id="id" name="id" placeholder="Id" value="@price.id" class="form-control"
                           readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Name</label>
                <div class="col-sm-6">
                    <input type="text" id="name" name="name" placeholder="Name" value="@price.name"
                           class="form-control">
                </div>
            </div>
            <div id="price" class="form-group">
                <label class="col-sm-3 control-label">Fixed Price</label>
                <div class="col-sm-6" style="padding-top:6px">
                    <input type="checkbox" id="fixedPrice" name="fixedPrice" value="fixedPrice" onclick="dropdown1()" @if(price.fixedPrice){checked="checked" }>
                </div>
            </div>

            <div id="basePackagecheck" class="form-group">
                <label class="col-sm-3 control-label">Has Base Package</label>
                <div class="col-sm-6" style="padding-top:6px">
                    <input type="checkbox" id="hasBasePackage" name="hasBasePackage" value="hasBasePackage" onclick="dropdown2()"
                           @if(price.hasBasePackage){checked="checked"}>
                </div>
            </div>
            <div id="fixedAmount" class="form-group" style="display:none">
                <label class="col-sm-3 control-label">Fixed Price Amount</label>
                <div class="col-sm-6">
                    <input type="number" id="fixedPriceAmount" name="fixedPriceAmount" placeholder="Fixed Price Amount"
                           value="@price.fixedPriceAmount" class="form-control">
                </div>
            </div>
            <div id="baseAmount" style="display:none">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Base Package Amount</label>
                    <div class="col-sm-6">
                        <input type="number" id="basePackageAmount" name="basePackageAmount"
                               placeholder="Base Package Amount" value="@price.basePackageAmount" class="form-control">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label">Base Package Minutes</label>
                    <div class="col-sm-6">
                        <input type="number" id="basePackageMinutes" name="basePackageMinutes"
                               placeholder="Base Package Minutes" value="@price.basePackageMinutes"
                               class="form-control">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label">Base Package Kilometers</label>
                    <div class="col-sm-6">
                        <input type="number" id="basePackageKilometers" name="basePackageKilometers"
                               placeholder="Base Package Kilometers" value="@price.basePackageKilometers"
                               class="form-control">
                    </div>
                </div>


            </div>
            <div id="additional">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Additional Per Kilometer</label>
                    <div class="col-sm-6">
                        <input type="number" id="additionalPerKilometer" name="additionalPerKilometer"
                               placeholder="Additional Per Kilometer" value="@price.additionalPerKilometer"
                               class="form-control">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label">Additional Per Minute</label>
                    <div class="col-sm-6">
                        <input type="number" id="additionalPerMinute" name="additionalPerMinute"
                               placeholder="Additional Per Minute" value="@price.additionalPerMinute"
                               class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary btn-block"><span
                            class="glyphicon glyphicon-ok-sign"></span></span> Submit
                    </button>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <button type="button" class="btn btn-primary btn-block"
                            onclick="window.location='/pricingProfile ';"><span
                            class="glyphicon glyphicon-remove-sign"></span> Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src='@routes.Assets.versioned("javascripts/editPricingForm.js")'type="text/javascript"></script>
}
