@(user: User)
@import views.html.custom_views._
@main("Get Bike", "Edit User"){
<style>


*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 3em;
    margin-bottom: 1em;
}
</style>
<div class="container">
    <div class="well well-lg">
    <form class="form-horizontal" action="@routes.UserController.updateUserDetail()" method="GET" role="form">
        <center><h4>AuthToken: @user.authToken</h4></center>
        <h2>Update User Details</h2>
        <div class="form-group">
            <label for="userId" class="col-sm-3 control-label">User Id</label>
            <div class="col-sm-6">
                <input type="text" id="userId" name="userId" placeholder="Id" value="@user.id" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">User Name</label>
            <div class="col-sm-6">
                <input type="text" id="name" name="name" placeholder="Name" value="@user.name" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-6">
                <input type="email" id="email" name="email" placeholder="Email" value="@user.email" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="mobileNumber" class="col-sm-3 control-label">Mobile Number</label>
            <div class="col-sm-6">
                <input type="text" id="mobileNumber" name="mobileNumber" placeholder="Mobile Number" value="@user.phoneNumber" class="form-control" >
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Gender</label>
            <div class="col-sm-6">
                </select>
                <select id="gender" name="gender"  class="form-control" style="width:100% !important">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="promoCode" class="col-sm-3 control-label">Promo Code</label>
            <div class="col-sm-6">
                <input type="text" id="promoCode" name="promoCode" placeholder="promoCode" value="@user.getPromoCode()" class="form-control">
            </div>
        </div>


        <div class="form-group">
            <label for="accountNumber" class="col-sm-3 control-label">Account Number</label>
            <div class="col-sm-6">
                <input type="text" id="accountNumber" name="accountNumber" placeholder="Account Number" value="@user.getAccountNumber()" class="form-control" readonly>
            </div>
        </div>

        <div class="form-group">
            <label for="bankName" class="col-sm-3 control-label">Bank Name</label>
            <div class="col-sm-6">
                <input type="text" id="bankName" name="bankName" placeholder="Bank Name" value="@user.getBankName()" class="form-control" readonly>
            </div>
        </div>


        <div class="form-group">
            <label for="branchName" class="col-sm-3 control-label">Branch Name</label>
            <div class="col-sm-6">
                <input type="text" id="branchName" name="branchName" placeholder="Branch Name" value="@user.getBranchName()" class="form-control" readonly>
            </div>
        </div>


        <div class="form-group">
            <label for="ifscCode" class="col-sm-3 control-label">IFSC code</label>
            <div class="col-sm-6">
                <input type="text" id="ifscCode" name="ifscCode" placeholder="IFSC code" value="@user.getIfscCode()" class="form-control" readonly>
            </div>
        </div>

        <div class="form-group">
            <label for="vendor" class="col-sm-3 control-label">Vendor</label>
            <div class="col-sm-6">
                <input type="checkbox" id="vendor" name="vendor" @if(user.isVendor()){checked="checked"} class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="primeRider" class="col-sm-3 control-label">Prime Rider</label>
            <div class="col-sm-6">
                <input type="checkbox" id="primeRider" name="primeRider" @if(user.isPrimeRider()){checked="checked"} class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-ok-sign"></span></span> Submit</button>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <button type="button" class="btn btn-primary btn-block" onclick="window.location='/users/usersList';"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            </div>
        </div>
    </form>
    </div>
</div>
}