@(rideLocations: String , rideList: String)
@import views.html.custom_views._
<div class="container">
    <div class="row">
        <!DOCTYPE html>
        <html>
        <head>
            <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
            <meta charset="utf-8">
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <style>
              /* Always set the map height explicitly to define the size of the div
               * element that contains the map. */
              #map {
                height:100%;
              }
              /* Optional: Makes the sample page fill the window. */

            </style>
        </head>
        <body style="margin:20px;">
        <h3 align="center">Group Ride</h3>
        <div class="row">
            <div id="myTable"></div>
        </div>
        <div id="map"></div>
        <br>
        <form action="@routes.RideController.saveGroupRides(rideList)" method="GET" role="form">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-primary btn-block"
                                    onclick="window.location='/pending';"><span
                                    class="glyphicon glyphicon-remove-sign"></span> Cancel
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary btn-block"><span
                                    class="glyphicon glyphicon-ok-sign"></span> Confirm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxqQEvtdEtl6dDIvG7vcm6QTO45Si0FZs&callback=map">
        </script>
        <script>

          $(window).load(function () {
            var map;
            var directionsDisplay;
            directionsService = new google.maps.DirectionsService();
            initialize();
            });

            var locations = @Html(rideLocations)

            var output = "<center><table class='table table-striped' id='riderTable'"+
            "style='border: 1px solid lightgrey;height: 20px; width: 98%;overflow: auto;'>"+
            "<thead style='border-bottom: 1px solid grey;'>"+
            "<tr style='height: 1px;'><th>Ride Id</th><th>Address</th><th>Latitude</th><th>Longitude</th></tr></thead><tbody>";

            for (var j = 0; j < locations.length; j++) {
               output += "<tr class='tr" + (j%2) + "'>";
               output += "<td class='col3'>" + locations[j][3] + "</td>";
               output += "<td class='col0'>" + locations[j][0] + "</td>"
               output += "<td class='col0'>" + locations[j][1] + "</td>"
               output += "<td class='col1'>" + locations[j][2] + "</td>";
            }
            output += "</tbody></table></center>";
            document.getElementById("myTable").innerHTML = output;

            function initialize() {

              directionsDisplay = new google.maps.DirectionsRenderer();

              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: new google.maps.LatLng(17.3850, 78.4867),
                mapTypeId: google.maps.MapTypeId.ROADMAP
              });

              directionsDisplay.setMap(map);
              var infowindow = new google.maps.InfoWindow();

              var marker, i;
              var request = {
                travelMode: google.maps.TravelMode.DRIVING
              };
              for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                  position: new google.maps.LatLng(locations[i][1], locations[i][2])
              });
                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                  return function() {
                    infowindow.open(map, marker);
                  }
                })(marker, i));
                if (i == 0)
                    request.origin = marker.getPosition();
                else if (i == locations.length - 1)
                    request.destination = marker.getPosition();
                else {
                  if (!request.waypoints)
                  request.waypoints = [];
                  request.waypoints.push({
                    location: marker.getPosition(),
                    stopover: true
                  });
                }

              }
              directionsService.route(request, function(result, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                  directionsDisplay.setDirections(result);
                }
              });
            }
            google.maps.event.addDomListener(window, "load", initialize);
         </script>
        </body>
        </html>
    </div>
</div>