@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@


@(title: String, header: String)(content: Html)
@userName = @{session.get("User")}
@user = @{if (userName != null) userName else ""}
@admin = @{session.get("admin")}
@adminRole = @{if (admin != null) admin else ""}

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-theme.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/styles.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

        <script src="@routes.Assets.versioned("javascripts/angular.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/dirPagination.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
    <div class="container" data-ng-app="myApp">
     <div class="row">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
             <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
              <li><a href="/users/usersList"><span class="glyphicon glyphicon-user"></span> Users</a></li>
              <li><a href="/ride/rideList"><span class="glyphicon glyphicon-fire"></span>  Rides </a></li>
              <li><a href="/users/loginOtpList"><span class="glyphicon glyphicon-envelope"></span> OTPs</a></li>
              <li><a href="/allRiders"><span class="glyphicon glyphicon-globe"></span> Rider Locations</a></li>
              <li><a href="/systemSettings/systemSettingList"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
              <li><a href="/wallet/redeemWalletEntries"><span class="fa fa-inr"></span> Redeem Event</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">User Maintenance<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/user/userMaintenance">Create NewUser</a></li>
                <li><a href=" /user/changepassword">Change Password</a></li>
              </ul>
            </li>
        </ul>
      </div>
    <div class="navbar navbar-inverse" role="navigation">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <!--  Display three horizontal lines when navbar collapsed. -->
          <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand" style="color:white">@header</span>
         <span class="navbar-brand" style="color:white; float:right;">@user:<a href="@routes.LoginController.logout"> Logout</a></span>
    </div>
    </div>
       @* And here's where we render the `Html` object containing
         * the page content. *@
        @content
    </div>
    <script type="text/javascript">
    @if(adminRole.equalsIgnoreCase("Admin") ){
     jQuery(function ($) {
        $('li.dropdown').show()
     });
     }else{
        jQuery(function ($) {
          $('li.dropdown').hide()
        });
     }
    </script>
    </body>
</html>
