@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@


@(title: String, header: String)(content: Html)
@userName = @{session.get("User")}
@user = @{if (userName != null) userName else ""}
@admin = @{session.get("admin")}
@adminRole = @{if (admin != null) admin else ""}

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-theme.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/styles.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/getbike.png")">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

        <script src="@routes.Assets.versioned("javascripts/angular.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/dirPagination.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
    <div class="container" data-ng-app="myApp">
     <div class="row">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
             <li class="active"><a href="/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
              <li><a href="/users/usersList"><span class="glyphicon glyphicon-user"></span> Users</a></li>
              <li><a href="/ride/rideList"><span class="glyphicon glyphicon-fire"></span>  Rides </a></li>
              <li><a href="/users/loginOtpList"><span class="glyphicon glyphicon-envelope"></span> OTPs</a></li>
              <li><a href="/allRiders"><span class="glyphicon glyphicon-globe"></span> Rider Locations</a></li>
              <li><a href="/wallet/redeemWalletEntries"><span class="fa fa-inr"></span> Redeem Event <span class="badge badge-info" id="notificationId"></span></a></li>
              <li><a href="/paymentOrdersList"><span class="fa fa-inr"></span> Payment Order</a></li>
            <li class="dropdown">
              <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">User Maintenance<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/user/userMaintenance">Create NewUser</a></li>
                <li><a href=" /user/changepassword">Change Password</a></li>
              </ul>-->
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-equalizer"> Analytics<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/analytics"><span class="glyphicon glyphicon-equalizer"></span> Weekly Amount</a></li>
                <li><a href="/analytics/analyticBar"><span class="glyphicon glyphicon-equalizer"></span> Weekly Rides</a></li>
              </ul>
            </li>
            <li><a href="/allFencinglocations"><span class="glyphicon glyphicon-globe"></span> Geo Locations</a></li>
            <li><a href="/systemSettings/all"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
        </ul>
      </div>
    <div class="navbar navbar-inverse" role="navigation">
    <div class= "row" style="margin:0px">
   <div class="col-sm-4 col-xs-6"><span class="navbar-brand" style="color:white">@header</span></div>
    <div class="col-sm-4 col-xs-6 text-right">
    <div>
     <div class="dropdown menu-bar" style="padding-top:5px">
                    <button class="dropbtn"> <span class="glyphicon glyphicon-menu-hamburger"></span></button>
              <div class="dropdown-content" style="right:0px;">
              <a href="/home"><span class="glyphicon glyphicon-home"></span> Home</a>
              <a href="/users/usersList"><span class="glyphicon glyphicon-user"></span> Users</a>
              <a href="/ride/rideList"><span class="glyphicon glyphicon-fire"></span>  Rides </a>
              <a href="/users/loginOtpList"><span class="glyphicon glyphicon-envelope"></span> OTPs</a>
              <a href="/allRiders"><span class="glyphicon glyphicon-globe"></span> Rider Locations</a>
              <a href="/wallet/redeemWalletEntries"><span class="fa fa-inr"></span> Redeem Event <span class="badge badge-info" id="notificationId"></span></a>
              <a href="/paymentOrdersList"><span class="fa fa-inr"></span> Payment Order</a>
              <a href="/allFencinglocations"><span class="glyphicon glyphicon-globe"></span> Geo Locations</a>
              <a href="/systemSettings/all"><span class="glyphicon glyphicon-cog"></span> Settings</a>
              <a href="/analytics"><span class="glyphicon glyphicon-equalizer"></span> Weekly Amount</a>
              <a href="/analytics/analyticBar"><span class="glyphicon glyphicon-equalizer"></span> Weekly Rides</a>
              </div>
               </div>
       </div>
       </div>
    <div class="col-sm-4">
    <span class="navbar-brand" style="color:white; float:right;">@user: <a href="@routes.LoginController.logout"> Logout <span class="glyphicon glyphicon-off"></span></a></span>
    </div>
    </div>
    </div>
       @* And here's where we render the `Html` object containing
         * the page content. *@
        @content
    </div>
    <script type="text/javascript">
    @if(adminRole.equalsIgnoreCase("Admin") ){
     jQuery(function ($) {
        $('li.dropdown2').show()
     });
     }else{
        jQuery(function ($) {
          $('li.dropdown2').hide()
        });
     }
    </script>
    </body>
</html>
<script>
     window.onload = function() {
       $.get("/wallet/notificationsUpdate" , function(data){
       var count = 0;
       count = data["notificationSeenCount"];
       if(count>0){
       document.getElementById("notificationId").innerHTML = count;
       }
       });
     };
</script>
