@main("Get Bike", "New System Settings"){

<div class="container text-center">

    <form class="well form-horizontal" action="@routes.SystemSettingsController.saveNewSystemSetting()" method="post"  id="contact_form">
        <fieldset>
            <!-- Form Name -->
            <legend >SystemSettings !</legend>
            <!-- Text input-->
            <div class="form-group">
                <div class="col-md-8 col-md-offset-2 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                        <input  name="key" placeholder="Key" class="form-control"  type="text" required >
                        <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open"></i></span>
                        <input  name="value" placeholder="Value" class="form-control"  type="text" required >
                    </div>
                </div>
            </div>
            <!-- Text area -->
            <div class="form-group">
                <div class="col-md-8 col-md-offset-2 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <textarea class="form-control" name="description" placeholder=" Description For Key"></textarea>
                    </div>
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <div class="col-lg-2 col-lg-offset-3">
                    <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-ok-sign"></span></span> Save</button>
                </div>
                <div class="col-lg-2 col-lg-offset-2">
                    <button type="button" class="btn btn-primary btn-block" onclick="window.location='/systemSettings/all';"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

}