@(systemSettingsForm : Form[models.SystemSettings], pageType: String)

@import helper._
@import views.html.custom_views._

@systemSettingsId = @{session.get("systemSettingsId")}
@main("Get Bike", "New System Settings"){
<script>
    $(document).ready(function(){
        $("#cancelButton").on('click', function(){
            location.href="/systemSettings/systemSettingList";
        });
        $("#saveButton").on('click', function(){
                var jsonResponse = tableToJson();
                $.ajax({
                             type : "POST",
                             dataType: "json",
                             url : "@routes.SystemSettingsController.saveData()",
                             contentType: "application/json; charset=utf-8",
                             data: JSON.stringify(jsonResponse),
                             success : function(result) {
                                console.log(result);
                                if(result.success = "success"){
                                    location.href="/systemSettings/systemSettingList";
                                }else{
                                    location.href="/systemSettings/newSystemSetting";
                                }
                             },
                             error : function() {
                                 location.href="/systemSettings/newSystemSetting";
                                 return false;
                             }
                 });
        });

    });

    function tableToJson(){
            var rowData ={};
            var key = document.getElementById("key").value;
            var value = document.getElementById("value").value;
            rowData["key"] = key;
            rowData["value"] = value;
        return rowData;
    }

</script>
<div class="container">
    @if(flash.containsKey("error")) {
    <div class="well">
        <div id="error-message" class="text-danger">
            @flash.get("error")
        </div>
    </div>
    }
    <div class="row"  style="margin-top:2px; margin: 0px;">
        <div class="row text-center">
            <div class="col-sm-4">
                @text(systemSettingsForm("key"),
                label = "",
                placeholder = "Key",
                help = "",
                labelClass="",
                textClass="col-sm-12 text-left")
            </div>
            <div class="col-sm-4">
                @text(systemSettingsForm("value"),
                label = "",
                placeholder = "Value",
                help = "",
                labelClass="",
                textClass="col-sm-12 text-left")
            </div>
            <button type="button" id="cancelButton" style="margin-left:1px; width: 100px;border-radius: 25px;color:#0081B5; " class="btn btn-default">
                Cancel
            </button>
            <button type="button" id="saveButton" style="margin-left:1px; width: 100px;border-radius: 25px;color:#0081B5; " class="btn btn-default">
                Save
            </button>
        </div>

        </div>
    </div>
</div>
</div>
}