@(tableHeaders: LinkedHashMap[String, String] , colClass: String ="col-sm-12", isRequired: String ="", header: String="PaymentOrders" ,newUrl: String ="", editUrl: String = "", deleteUrl: String ="")
@import views.html.custom_views._
@main("Get Bike", "PaymentOrders"){
<style>
.dialog_table{
		margin-top: 100px;
}

.ui-widget-header {
    border: 1px solid #dddddd;
    background: #0081B5;
    color: #333333;
    font-weight: bold;
}
.ui-widget-content a {
    color: #23527c;
}

.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
    cursor:pointer;
}

</style>
<script src="@routes.Assets.versioned("javascripts/FileSaver.js")" type="text/javascript"></script>
<div class="container" id="list-view-app-id">
    <div class="row">
        <div class="col-sm-12">
            <div data-ng-controller="PaymentController">
                <div class="row">
                    <div class="col-sm-3 text-left" style="padding-bottom:10px;">
                        <input type="text" ng-model="searchText" id="searchname" ng-keyup="$event.keyCode == 13 && doDateFilter()"
                               placeholder="Search by Name / Mobile" class="form-control">
                    </div>

                    <div class="col-sm-2 text-left">
                        <input ng-model="startDate" type="date" placeholder="" required class="form-control"/>
                    </div>
                    <div class="col-sm-2 text-left">
                        <input ng-model="endDate" type="date" placeholder="" required class="form-control"/>
                    </div>
                    <div class="col-sm-2 text-left" style="width:130px">
                        <input type="button" class="btn btn-primary" value="Search" ng-click="doDateFilter()"/>
                    </div>
                   </div>

                <div id="test">
                    <table class="table table-striped"
                           style="border: 1px solid lightgrey; width: 100%;overflow: auto;">
                        <thead style="border-bottom: 1px solid grey;">
                        <tr>
                            <th ng-click="sort('id')">Order Id / UserId
                                <span class="glyphicon sort-icon" ng-show="sortKey=='id'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('orderIdentifier')">Order Identifier
                                <span class="glyphicon sort-icon" ng-show="sortKey=='orderIdentifier'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>

                            <th ng-click="sort('')">Order / Response DateTime
                                <span class="glyphicon sort-icon" ng-show="sortKey=='orderDateTime'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('')">OrderType
                                <span class="glyphicon sort-icon" ng-show="sortKey=='orderType'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('')" style="width:190px;">Amount
                                <span class="glyphicon sort-icon" ng-show="sortKey=='amount'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('')" style="width:190px;">Description
                                <span class="glyphicon sort-icon" ng-show="sortKey=='description'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('')">Status
                                <span class="glyphicon sort-icon" ng-show="sortKey=='status'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(index, paymentOrder) in paymentOrders| orderBy:sortKey:reverse" class="text-left">
                            <td>{{paymentOrder.id}} <br>{{paymentOrder.userId}}</td>
                            <td>{{paymentOrder.orderIdentifier}}</td>
                            <td>{{paymentOrder.orderDateTime | date:'MMM d yyyy h:mm:ss a':'IST'}} <br>
                                {{paymentOrder.responseDateTime | date:'MMM d yyyy h:mm:ss a':'IST'}} </td>
                            <td>{{paymentOrder.orderType}}</td>
                            <td>{{paymentOrder.amount}}</td>
                            <td>{{paymentOrder.description}}</td>
                            <td>{{paymentOrder.status}}</td>
                         </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>
</div>
<script>
    var listViewApp = angular.module("myApp", []);
    listViewApp.controller("PaymentController", function ($scope, $http, $filter) {
            $scope.paymentOrders = [];
            $scope.rideSummary = {};
            $scope.startDate = $filter("date")(Date.now(), 'yyyy-MM-dd');
            $scope.endDate = $filter("date")(Date.now(), 'yyyy-MM-dd');
        $scope.sort = function(keyname){
            $scope.sortKey = keyname;
            $scope.reverse = !$scope.reverse;
        };

        $scope.doDateFilter = function() {
        var url = "/paymentOrdersListFilter?"
                if(!angular.isUndefined($scope.startDate)){
                    url+="startDate="+$scope.startDate;
                }
                if(!angular.isUndefined($scope.endDate)){
                    url+="&endDate="+$scope.endDate;
                }
                if(!angular.isUndefined($scope.filterText)){
                    url+="&status="+$scope.filterText;
                }
                if(!angular.isUndefined($scope.searchText)){
                     url+="&srcName="+$scope.searchText;
                }
                var httpRequest = $http({
                    method : 'GET',
                    url : url,
                }).success(function(data, status) {
                    console.log(data);
                    if(data!=null){
                     $scope.paymentOrders = [];
                     $scope.paymentOrders = data["result"];
                     $scope.rideSummary = data["rideSummary"];
                    }
                }).error(function(arg) {
                    console.log(arg);
                });
        };

  }); //end of angular Js
</script>
}