@(paymentOrders: List[PaymentOrder])
@import views.html.custom_views._
@main("Get Bike", "Ride"){
<div data-ng-app="myApp">
    <div data-ng-controller="myCtrl as data">
        <div class="container">
            <div class="panel panel-primary">
               <table class="table table-hover">
                    <tr bgcolor="#f2f2f2">
                        <th>Order Id</th>
                        <th>OrderIdentifier</th>
                        <th>UserId</th>
                        <th>OrderDateTime</th>
                        <th>OrderType</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>ResponseDateTime</th>
                    </tr>
                   @for(paymentOrder <- paymentOrders){
                   <tr style="overflow:auto;" >
                       <td>@paymentOrder.getId()</td>
                       <td>@paymentOrder.getOrderIdentifier()</td>
                       <td>@paymentOrder.getUserId()</td>
                       <td>@paymentOrder.getOrderDateTime()</td>
                       <td>@paymentOrder.getOrderType()</td>
                       <td>@paymentOrder.getAmount()</td>
                       <td>@paymentOrder.getDescription()</td>
                       <td>@paymentOrder.getStatus()</td>
                       <td>@paymentOrder.getResponseDateTime()</td>
                   </tr>
                   }
               </table>
            </div>

        </div>
    </div>
</div>
}