@(allPrice: List[PricingProfile])
@main("Get Bike", "All Pricing Profile"){
<div class="row">
    <div class="col-xs-12">
        <div class="text-right">
            <button type="button" class="btn btn-primary btn-md " onclick="window.location.href='/pricingForm'">Add New
                Pricing Profile
            </button>
        </div>
    </div>
</div>
<br/>
<div class="container">
    <table class="table table-bordered">
        <tr bgcolor="#f2f2f2">
            <th>Id</th>
            <th>Name</th>
            <th>Fixed Price</th>
            <th>Fixed Price Amount</th>
            <th>Has Base Package</th>
            <th>Base Package Amount</th>
            <th>Base Package Kilometers</th>
            <th>Base Package Minutes</th>
            <th>Additional Per Kilometer</th>
            <th>Additional Per Minute</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @for(price <- allPrice){
        <tr>
            <td>@price.id</td>
            <td>@price.name</td>
            <td>@price.fixedPrice</td>
            <td>@price.fixedPriceAmount</td>
            <td>@price.hasBasePackage</td>
            <td>@price.basePackageAmount</td>
            <td>@price.basePackageKilometers</td>
            <td>@price.basePackageMinutes</td>
            <td>@price.additionalPerKilometer</td>
            <td>@price.additionalPerMinute</td>
            <td><a href="/editPricingForm/@price.id"><span class="glyphicon glyphicon-edit">Edit</span></a></td>
            <td><a href="/deletePricingForm/@price.id"><span class="glyphicon glyphicon-trash">Delete</span></a></td>
        </tr>
        }
    </table>
</div>
</div>
}
