@(leaveInAdvance:LeaveInAdvance)
@main("Get Bike" , "Process LeaveInAdvance"){
<style>
    body {
    background-color: #eee;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 3em;
    margin-bottom: 1em;
}
.well{
background: rgb(142, 201, 249);
}
select {
        width:280px;
    }
</style>
<div class="container">
    <form class="form-horizontal" action="@routes.LeaveInAdvanceController.processLeaveInAdvanceRequest()" method="POST" role="form">
        <h2>Process LeaveInAdvance</h2>
        <div class="form-group">
            <label for="id" class="col-sm-3 control-label">Id</label>
            <div class="col-sm-7">
                <input type="text" id="id" name="id" placeholder="id" value="@leaveInAdvance.id" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="riderName" class="col-sm-3 control-label">Rider Name</label>
            <div class="col-sm-7">
                <input type="text" id="riderName" name="riderName" placeholder="riderName" value="@leaveInAdvance.getRiderName()" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="requestedAt" class="col-sm-3 control-label">Requested At</label>
            <div class="col-sm-7">
                <input type="text" id="requestedAt" name="requestedAt" placeholder="reuestedAt" value="@leaveInAdvance.getRequestedAt()" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="fromDate" class="col-sm-3 control-label">From Date </label>
            <div class="col-sm-7">
                <input type="text" id="fromDate" name="toDate" placeholder="from date" value="@leaveInAdvance.getFromDate()" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="toDate" class="col-sm-3 control-label">To Date </label>
            <div class="col-sm-7">
                <input type="text" id="toDate" name="toDate" placeholder="to date" value="@leaveInAdvance.getToDate()" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="requestStatus" class="col-sm-3 control-label">Request Status </label>
            <div class="col-sm-7">
            <select id="requestStatus" name="requestStatus">
                <option value=null selected="@leaveInAdvance.getRequestStatus()" >Requested</option>
                <option value=true>Accepted</option>
                <option value=false>Rejected</option>
            </select>
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="col-sm-3 control-label">Description </label>
              <div class="col-sm-7">
                    <textarea class="form-control" name="description" id ="description" placeholder=" Admin Description to Request For Response" value="@leaveInAdvance.getAdminDescription()"></textarea>
              </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <div class="col-lg-2 col-lg-offset-3">
                <button type="submit" class="btn btn-primary "><span class="glyphicon glyphicon-ok-sign"></span></span> Submit</button>
            </div>
            <div class="col-lg-2 col-lg-offset-2">
                <button type="button" class="btn btn-primary " onclick="window.location='/getAllLeaveInAdvanceList';"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            </div>
        </div>
      </form>
</div>
}