@(tableHeaders: LinkedHashMap[String, String] , colClass: String ="col-sm-12", isRequired: String ="", header: String="Ride" ,newUrl: String ="", editUrl: String = "", deleteUrl: String ="")
@import views.html.custom_views._
@main("Get Bike", "Ride"){
<style>
.dialog_table{
		margin-top: 100px;
}

.ui-widget-header {
    border: 1px solid #dddddd;
    background: #0081B5;
    color: #333333;
    font-weight: bold;
}
.ui-widget-content a {
    color: #23527c;
}

.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
    cursor:pointer;
}

</style>
<script src="@routes.Assets.versioned("javascripts/FileSaver.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/json-export-excel.js")" type="text/javascript"></script>
<div class="container" id="list-view-app-id">
    <div class="row">
        <div class="col-sm-12">
            <div data-ng-controller="ProductController">
                <div class="row">
                    <div class="col-sm-3 text-left" style="padding-bottom:10px;">
                        <input type="text" ng-model="searchText" id="searchname" ng-keyup="$event.keyCode == 13 && doDateFilter()"
                               placeholder="Search by Name / Mobile / Trip Id" class="form-control">
                    </div>
                    <div class="col-sm-2 text-left">
                        <select name="manualrecfilter" ng-options="choice for choice in manualrecfilter"
                                ng-model="filterText"
                                class="form-control" style="width:100% !important">
                            <option value="">ALL</option>

                        </select>
                    </div>
                    <div class="col-sm-2 text-left">
                        <input ng-model="startDate" type="date" placeholder="" required class="form-control"/>
                    </div>
                    <div class="col-sm-2 text-left">
                        <input ng-model="endDate" type="date" placeholder="" required class="form-control"/>
                    </div>
                    <div class="col-sm-2 text-left" style="width:130px">
                        <input type="button" class="btn btn-primary" value="Search" ng-click="doDateFilter()"/>
                    </div>
                    <div class="col-sm-1 text-left">
                        <button ng-json-export-excel data="products" report-fields="{id: 'Trip Id', requestorName: 'Customer Name',customerMobileNumber: 'Customer Phone Number', riderName: 'Rider Name', riderMobileNumber: 'Rider Mobile Number' , rideStatus: 'Ride Status',orderDistance: 'Order Distance',formatedRequestAt: 'Requested  At',formatedAcceptedAt: 'Accepted  At', formatedRideStartedAt: 'Ride Started At',formatedRideEndedAt: 'Ride Ended At',startLatitude: 'Start Latitude',startLongitude: 'Start Longitude',sourceAddress: 'Source Address',destinationAddress: 'Destination Address',actualSourceAddress: 'Actual Source Address',actualDestinationAddress: 'Actual Destination Address',totalBill: 'TotalBill' }" filename="'RidesData'" class="btn btn-primary">Export</button>
                    </div>

                    @if(isRequired.equalsIgnoreCase("Yes")){
                    <div class="col-sm-6 text-right" style="padding-top:10px;">
                        <a href='@{newUrl}'><img src="@routes.Assets.versioned(" images/plus.png")" width="25"></a>
                    </div>
                    }
                </div>
                <div class="row" style="margin-top:1%">
                    <div class="col-sm-2 text-left">
                        <label>Rides Count: {{rideSummary.numberOfRides}}</label>
                    </div>
                    <div class="col-sm-2 text-left">
                        <label>Total Distance: {{rideSummary.totalDistance}}</label>
                    </div>
                    <div class="col-sm-2 text-left">
                        <label>Total Amount: {{rideSummary.totalAmount}}</label>
                    </div>
                    <div class="col-sm-2 text-left">
                        <label>Rides Completed: {{rideSummary.closed}}</label>
                    </div>
                    <div class="col-sm-2 text-left">
                        <label>Rides Pending: {{rideSummary.pending}}</label>
                    </div>
                    <div class="col-sm-2 text-left">
                        <label>Rides Accepted: {{rideSummary.accepted}}</label>
                    </div>

                </div>
                <div id="test">
                    <table class="table table-striped"
                           style="border: 1px solid lightgrey; width: 100%;overflow: auto;">
                        <thead style="border-bottom: 1px solid grey;">
                        <tr>
                            <th ng-click="sort('id')">Trip ID
                                <span class="glyphicon sort-icon" ng-show="sortKey=='id'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('requestorId')" style="width:180px;">Customer <br/> Rider
                                <span class="glyphicon sort-icon" ng-show="sortKey=='requestorId'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('rideStatus')">Rider Status
                                <span class="glyphicon sort-icon" ng-show="sortKey=='rideStatus'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('orderDistance')">Order Distance
                                <span class="glyphicon sort-icon" ng-show="sortKey=='orderDistance'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('requestedAt')" style="width:190px;">Requested At
                                <span class="glyphicon sort-icon" ng-show="sortKey=='requestedAt'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('startLatitude')">Address</span>
                            </th>
                            <th ng-click="sort('totalBill')">Total Bill
                                <span class="glyphicon sort-icon" ng-show="sortKey=='totalBill'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(index, product) in products| orderBy:sortKey:reverse" class="text-left">
                            <td>{{product.id}}</td>
                            <td>{{product.requestorName}}<br/>
                                {{product.riderName}}
                            </td>
                            <td>{{product.rideStatus}}</td>
                            <td>{{product.orderDistance}}</td>
                            <td>{{product.requestedAt | date:'MMM d yyyy h:mm:ss a':'IST'}}<br/>
                                {{product.acceptedAt | date:'MMM d yyyy h:mm:ss a':'IST'}}<br/>
                                {{product.rideStartedAt | date:'MMM d yyyy h:mm:ss a':'IST'}}<br/>
                                {{product.rideEndedAt | date:'MMM d yyyy h:mm:ss a':'IST'}}
                            </td>
                            <td>{{product.startLatitude}}, {{product.startLongitude}}<br/>
                                {{product.sourceAddress}}<br/>
                                {{product.destinationAddress}}<br/>
                                {{product.actualSourceAddress}}<br/>
                                {{product.actualDestinationAddress}}
                            </td>
                            <td><a target="_blank" href="/ridePath?rideId={{product.id}}">View</a><br/>
                                {{product.totalBill}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>
</div>
<script>
    var listViewApp = angular.module("myApp", ["ngJsonExportExcel"]);
    listViewApp.controller("ProductController", function ($scope, $http, $filter) {
            $scope.products = [];
            $scope.rideSummary = {};
            $scope.startDate = $filter("date")(Date.now(), 'yyyy-MM-dd');
            $scope.endDate = $filter("date")(Date.now(), 'yyyy-MM-dd');
        $scope.sort = function(keyname){
            $scope.sortKey = keyname;
            $scope.reverse = !$scope.reverse;
        };

        $scope.doDateFilter = function() {
        var url = "/rideFilter?"
                if(!angular.isUndefined($scope.startDate)){
                    url+="startDate="+$scope.startDate;
                }
                if(!angular.isUndefined($scope.endDate)){
                    url+="&endDate="+$scope.endDate;
                }
                if(!angular.isUndefined($scope.filterText)){
                    url+="&status="+$scope.filterText;
                }
                if(!angular.isUndefined($scope.searchText)){
                     url+="&srcName="+$scope.searchText;
                }
                var httpRequest = $http({
                    method : 'GET',
                    url : url,
                }).success(function(data, status) {
                    console.log(data);
                    if(data!=null){
                     $scope.products = [];
                       $scope.products = data["result"];
                       $scope.rideSummary = data["rideSummary"];
                    }
                }).error(function(arg) {
                    console.log(arg);
                });
        };
        $scope.doDateFilter();

          $scope.manualrecfilter = [
                'RideRequested',
                'RideAccepted',
                'RideClosed'
          ];
  }); //end of angular Js
</script>
}