@(rideLocations: List[String], firstLocation: models.RideLocation, ride: models.Ride,sourceAddress: String, destinationAddress: String)
@import views.html.custom_views._
<div class="container">
    <div class="row">
        <!DOCTYPE html>
        <html>
        <head>
            <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
            <meta charset="utf-8">
            <title>Simple Polylines</title>
            <style>
              /* Always set the map height explicitly to define the size of the div
               * element that contains the map. */
              #map {
                height: 60%;
              }
              /* Optional: Makes the sample page fill the window. */
              html, body {
                height: 100%;
                margin: 0;
                padding: 0;
              }
             table, th, td {
                    border: 1px solid lightgray;
                    border-collapse: collapse;
                }
                th, td {
                    padding: 5px;
                }

            </style>
        </head>
        <body style="margin:20px;">
        <div id="scr" style="margin:20px 0px;">
            <table class="table table-bordered" style="border-left: 1px solid lightgrey; width:100%; ">
                <tr>
                    <th align="left">Rider Id:</th>
                    <td>@ride.getRiderId() (@ride.getRiderName())</td>
                    <th align="left">Requestor Id:</th>
                    <td>@ride.getRequestorId() (@ride.getRequestorName())</td>
                </tr>
                <tr>
                    <th align="left">Rider Status</th>
                    <td>@ride.getRideStatus()</td>
                    &nbsp
                    <th align="left">Order Distance</th>
                    <td>@ride.getOrderDistance()</td>
                </tr>
                <tr>
                    <th align="left">Requested At</th>
                    <td>@ride.getRequestedAt()</td>
                    <th align="left">Accepted At</th>
                    <td>@ride.getAcceptedAt()</td>
                </tr>
                <tr>
                    <th align="left">Ride Started At</th>
                    <td>@ride.getRideStartedAt()</td>
                    <th align="left">Ride Ended At</th>
                    <td>@ride.getRideEndedAt()</td>
                </tr>
                <tr>
                    <th align="left">Start Latitude</th>
                    <td>@ride.getStartLatitude()</td>
                    <th align="left">Start Longitude</th>
                    <td>@ride.getStartLongitude()</td>
                </tr>
                <tr>
                    <th align="left">Source Address</th>
                    <td>@ride.getSourceAddress()</td>
                    <th align="left">Destination Address</th>
                    <td>@ride.getDestinationAddress()</td>
                </tr>
                <tr>
                    <th align="left">Actual Source Address</th>
                    <td>@ride.getActualSourceAddress()</td>
                    <th align="left">Actual Destination Address</th>
                    <td>@ride.getActualDestinationAddress()</td>
                </tr>
                <tr>
                    <th align="left">Total Fare</th>
                    <td>@ride.getTotalFare()</td>
                    <th align="left">TaxesAndFees</th>
                    <td>@ride.getTaxesAndFees()</td>
                <tr>
                    <th align="left">Sub Total</th>
                    <td>@ride.getSubTotal()</td>
                    <th align="left">Rouding Off</th>
                    <td>@ride.getRoundingOff()</td>
                </tr>
                <tr>
                    <th align="left">Total Bill</th>
                    <td>@ride.getTotalBill()</td>
                </tr>
            </table>
        </div>
        <div id="map"></div>
        @firstLatitude = @{firstLocation.getLatitude()}
        @firstLongitude = @{firstLocation.getLongitude()}
        @if(firstLatitude != null && firstLongitude != null){
        <script>

                  // This example creates a 2-pixel-wide red polyline showing the path of William
                  // Kingsford Smith's first trans-Pacific flight between Oakland, CA, and
                  // Brisbane, Australia.

                  function initMap() {
                    var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 16,
                      center: {lat: @firstLatitude, lng: @firstLongitude},
                      mapTypeId: 'terrain'
                    });

                    var flightPlanCoordinates = [
                    @rideLocations.mkString(", ")
                    ];
                    var flightPath = new google.maps.Polyline({
                      path: flightPlanCoordinates,
                      geodesic: true,
                      strokeColor: '#FF0000',
                      strokeOpacity: 1.0,
                      strokeWeight: 2
                    });

                    flightPath.setMap(map);
                  }

        </script>
        }
        <input  type="hidden" id="sourceLatitude"/>
        <input  type="hidden" id="sourceLongitude"/>
        <input  type="hidden" id="destinationLatitude"/>
        <input  type="hidden" id="destinationLongitude"/>
        @if(firstLatitude == null && firstLongitude == null && sourceAddress != null && destinationAddress != null){

        <script>
          function initMap() {
            var geocoder = new google.maps.Geocoder();
            var geocoder2 = new google.maps.Geocoder();
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 12,
              center: {lat: 17.3850, lng: 78.4867}
            });
              geocodeAddress(geocoder, map,'@sourceAddress');
              geocodeAddress2(geocoder2, map,'@destinationAddress');
          function geocodeAddress(geocoder,resultsMap,address) {
            var address = address;
            geocoder.geocode({'address': address}, function(results, status) {
              if (status === 'OK') {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                  map: resultsMap,
                  position: results[0].geometry.location
                });
                var sourceLatitude = results[0].geometry.location.lat();
                var sourceLongitude = results[0].geometry.location.lng();
                document.getElementById('sourceLatitude').value =sourceLatitude;
                document.getElementById('sourceLongitude').value =sourceLongitude;
              } else {
                alert('Geocode was not successful for the following reason: ' + status);
              }
            });
          }
          function geocodeAddress2(geocoder2,resultsMap,address) {
            var address = address;
            geocoder2.geocode({'address': address}, function(results, status) {
              if (status === 'OK') {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                  map: resultsMap,
                  position: results[0].geometry.location
                });
                var destinationLatitude = results[0].geometry.location.lat();
                var destinationLongitude = results[0].geometry.location.lng();
                document.getElementById('destinationLatitude').value = destinationLatitude;
                document.getElementById('destinationLongitude').value = destinationLongitude;
                var directionsService = new google.maps.DirectionsService;
                var directionsDisplay = new google.maps.DirectionsRenderer( { polylineOptions: { strokeColor: "#FF0000" } });
                directionsDisplay.setMap(map);
                directionsDisplay.setOptions({ suppressMarkers: true });
                calculateAndDisplayRoute(directionsService, directionsDisplay);

              } else {
                alert('Geocode was not successful for the following reason: ' + status);
              }
            });
          }
          function calculateAndDisplayRoute(directionsService, directionsDisplay) {
          var originLat = parseFloat(document.getElementById('sourceLatitude').value);
          var originLng = parseFloat(document.getElementById('sourceLongitude').value);
          var destLat = parseFloat(document.getElementById('destinationLatitude').value);
          var destLng = parseFloat(document.getElementById('destinationLongitude').value);
            directionsService.route({
              origin:  {lat: originLat, lng: originLng},
              destination:{lat: destLat, lng: destLng},
              travelMode: 'DRIVING'
            }, function(response, status) {
            console.log(response);
              if (status === 'OK') {
              console.log(response);
                directionsDisplay.setDirections(response);
              } else {
                window.alert('Directions request failed due to ' + status);
              }
            });
          }
         }
        </script>
        }
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxqQEvtdEtl6dDIvG7vcm6QTO45Si0FZs&callback=initMap">
        </script>
        </body>
        </html>
    </div>
</div>