@(user: User)
@import views.html.custom_views._
@main("Get Bike", "Special Price"){
<style>


*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}
</style>
<div class="container">
    <form class="form-horizontal" action="@routes.UserController.updateUserDetailsWithSpecialPrice()" method="GET" role="form">
        <h2>Special Price</h2>
        <div class="form-group">
            <label for="userId" class="col-sm-3 control-label">User Id</label>
            <div class="col-sm-6">
                <input type="text" id="userId" name="userId" placeholder="Id" value="@user.id" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">User Name</label>
            <div class="col-sm-6">
                <input type="text" id="name" name="name" placeholder="Name" value="@user.name" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-6">
                <input type="email" id="email" name="email" placeholder="Email" value="@user.email" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="mobileNumber" class="col-sm-3 control-label">Mobile Number</label>
            <div class="col-sm-6">
                <input type="text" id="mobileNumber" name="mobileNumber" placeholder="Mobile Number" value="@user.phoneNumber" class="form-control" readonly>
            </div>
        </div>

        <div class="form-group">
            <label for="sPrice" class="col-sm-3 control-label">Is Special Price</label>
            <div class="col-sm-1">
                <div class="checkbox">
                    <label>
                        @if(user.isSpecialPrice()){
                            <input id="sPrice" type="checkbox" checked="checked">
                        }else{
                            <input id="sPrice" type="checkbox">
                        }
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="spePrice" class="col-sm-3 control-label">Special Price</label>
            <div class="col-sm-6">
                <input type="text" id="spePrice" name="spePrice" placeholder="Special Price" value="@user.getSpePrice()" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </div>
    </form>
</div>
}