@(user: User ,
allPrice : List[PricingProfile])
@import views.html.custom_views._
@main("Get Bike", "Special Price"){
<style>
*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}
*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}
</style>
<div class="container">
    <form class="form-horizontal" action="@routes.UserController.updateUserDetailsWithSpecialPrice()" method="GET" role="form">
        <h2>Special Price</h2>
        <div class="form-group">
            <label for="userId" class="col-sm-3 control-label">User Id</label>
            <div class="col-sm-6">
                <input type="text" id="userId" name="userId" placeholder="Id" value="@user.id" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">User Name</label>
            <div class="col-sm-6">
                <input type="text" id="name" name="name" placeholder="Name" value="@user.name" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="mobileNumber" class="col-sm-3 control-label">Mobile Number</label>
            <div class="col-sm-6">
                <input type="text" id="mobileNumber" name="mobileNumber" placeholder="Mobile Number" value="@user.phoneNumber" class="form-control" readonly>
            </div>
        </div>

        <div class="form-group" >
            <label for="sPrice" class="col-sm-3 control-label">Is Special Price</label>
            <div class="col-sm-1">
                <div class="checkbox">
                    <input name="sPrice" id="sPrice" type="checkbox" onclick="dropDown()" class="form-control" @if(user.isSpecialPrice()){ checked='checked' }/>
                </div>
            </div>
        </div>
        <div class="form-group" id="profiles" >
            <label class="col-sm-3 control-label">Profile Type</label>
            <div class="col-sm-6">
            <select class="form-control" id="profileType" name="profileType" required>
            <option selected disabled>Select</option>
                @for(price <- allPrice){
                <option  value="@price.name">@price.name</option>
            }
        </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
                <button type="submit" class="btn btn-primary btn-block">Submit </button>
            </div>
        </div>
    </form>
</div>
}
<script>
   function dropDown()
   {
        if(document.getElementById("sPrice").checked)
        {
             $("#profiles").show();
        } else {
              $("#profiles").hide();
        }
   }
  $(document).ready(function(){
      dropDown();
      $("#profileType").val("@user.getProfileType()")
  });
</script>