
@(users: List[User], rides: List[Ride], rideLocations: List[RideLocation], loginOtps: List[LoginOtp])

<html>
<body>
<table border="1">
    <tr><th>Id</th><th>Name</th><th>Phone Number</th><th>Auth Token</th></tr>
    @for(user <- users) {
    <tr style="overflow:auto;" >
        <td>@user.getId()</td>
        <td>@user.getName()</td>
        <td>@user.getPhoneNumber()</td>
        <td>@user.getAuthToken()</td>
    </tr>
    }
</table>

<table border="1">
    <tr><th>RideId</th><th>Rider Id</th></tr>
    @for(ride <- rides) {
    <tr style="overflow:auto;" >
        <td>@ride.getId()</td>
        <td>@ride.getRiderId()</td>
        <td>@ride.getOrderDistance()</td>
        <td><a href="/ridePath?rideId=@ride.getId()">Path</a></td>
    </tr>
    }
</table>

<table border="1">
    <tr><th>Ride Location</th><th>Ride Id</th><th>Locatian Time</th><th>Latitude</th><th>Longitude</th></tr>
    @for(rideLocation <- rideLocations) {
    <tr style="overflow:auto;" >
        <td>@rideLocation.getId()</td>
        <td>@rideLocation.getRideId()</td>
        <td>@rideLocation.getLocationTime()</td>
        <td>@rideLocation.getLatitude()</td>
        <td>@rideLocation.getLongitude()</td>
    </tr>
    }
</table>

<table border="1">
    <tr><th>User Id</th><th>Otp</th><th>Created At</th></tr>
    @for(loginOtp <- loginOtps) {
    <tr style="overflow:auto;" >
        <td>@loginOtp.getUserId()</td>
        <td>@loginOtp.getGeneratedOtp()</td>
        <td>@loginOtp.getCreatedAt()</td>
    </tr>
    }
</table>


</body>
</html>