@(headers: List[String] , allUsers: List[User])
@import views.html.custom_views._
@main("Get Bike", "Users"){
<style>
.dialog_table{
		margin-top: 100px;
}

.ui-widget-header {
    border: 1px solid #dddddd;
    background: #0081B5;
    color: #333333;
    font-weight: bold;
}
.ui-widget-content a {
    color: #23527c;
}

.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
    cursor:pointer;
}
element.style {
    width: 200px;
}



</style>
<div class="container" id="list-view-app-id">
    @if(flash.containsKey("error")) {
    <div class="well">
        <div id="error-message" class="text-danger">
            <center>@flash.get("error")</center>
        </div>
    </div>
    }
    <div class="row">
        <div data-ng-app="myApp" data-ng-controller="ProductController">
            <div class="col-sm-2 text-left" style="padding-bottom:10px;">
                <input data-ng-model="input" placeholder="Search by Name / Mobile"
                       style="width: 200px; margin-top: 15px; border-radius: 10px;" class="form-control">
            </div>
            <div class="col-sm-2 text-left"
                 style="width: 200px; margin-left:20px; margin-top: 15px; border-radius: 10px;">
                <input type="button" class="btn btn-primary" value="Search" ng-click="mySearch()"/>
            </div>
            <div class="col-sm-12">
                <div id="test">
                    <table class="table table-striped"
                           style="border-left: 1px solid lightgrey; border: 2px solid lightgrey; width: 100%;">
                        <thead style="border-bottom: 1px solid grey;">
                        <tr>
                            <th ng-click="sort('id')">#
                                <span class="glyphicon sort-icon" ng-show="sortKey=='id'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('name')" style="width:180px;">Profile Details
                                <span class="glyphicon sort-icon" ng-show="sortKey=='name'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('promoCode')">Promo Code
                                <span class="glyphicon sort-icon" ng-show="sortKey=='promoCode'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('')" style="width:190px;">License Number
                                <span class="glyphicon sort-icon" ng-show="sortKey==''"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('')">Validate Uploaded Profile
                                <span class="glyphicon sort-icon" ng-show="sortKey==''"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('')">Wallet
                                <span class="glyphicon sort-icon" ng-show="sortKey==''"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('')">Special Price
                                <span class="glyphicon sort-icon" ng-show="sortKey==''"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in users | orderBy:sortKey:reverse">
                            <td align="center"><img ng-if="user.profileImage != null" ng-src="/{{user.profileImage}}"
                                                    width="40"/><br>{{user.id}}
                            </td>
                            <td>{{user.name}} ({{user.gender}})<br>{{user.email}}<br>{{user.phoneNumber}}</td>
                            <td>{{user.promoCode}}<br/>{{user.signupPromoCode}}<br/>Earned : {{user.freeRidesEarned}}
                                Spent : {{user.freeRidesSpent}}<br/>{{user.appVersion}}
                            </td>
                            <td>{{user.getDrivingLicenseNumber()}}<br/>{{user.getVehicleNumber()}}</td>
                            <td ng-if="user.validProofsUploaded == true">
                                <center style="width: 180px;"><img src="@routes.Assets.versioned("images/accept.png")"
                                    width="15" height="15"><a href="/user/accept/{{user.id}}">&nbsp;Proofs</a>
                                </center>
                            </td>

                            <td ng-if="user.validProofsUploaded == false">
                                <center style="width: 180px;"><img src="@routes.Assets.versioned("images/reject.png")"
                                    width="15" height="15"><a href="/user/accept/{{user.id}}">&nbsp;Proofs</a>
                                </center>
                            </td>
                            <td><a href="/wallet/entries/{{user.id}}">Wallet</a><br/>
                                <a ng-if="user.isRideInProgress" href="/users/clearCurrentRide/{{user.id}}">Clear
                                    Current Ride</a><br/>
                            </td>
                            <td><a href="/userSpecialPrice/{{user.id}}">SPrice</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var listViewApp = angular.module('myApp', []);
listViewApp.controller("ProductController", function ($scope, $http) {
    $scope.users = [];
    $scope.editingData = {};
    $scope.input = "";
    $scope.sort = function(keyname){
          $scope.sortKey = keyname;
          $scope.reverse = !$scope.reverse;
    };
    $scope.mySearch = function() {
        var url = "/usersListFilter?"+"input="+$scope.input;
        var httpRequest = $http({
        method : 'GET',
        url : url,
        }).success(function(data, status) {
        console.log(data);
        if(data!=null){
        $scope.users = [];
        $scope.users = data["result"];
        }
        }).error(function(arg) {
        console.log(arg);
        });
    };

    $scope.mySearch();

}); //end of angular Js


</script>
}